.bold-text {
  font-weight: bold;
}

.custom-link {
  color: black;
  text-decoration: none;
}

.custom-link:hover {
  text-decoration: none; 
  color: #007bff;
}

.icon-link {
  color: #000;
  text-decoration: none; 
}

.icon-link:hover {
  color: #007bff; 
}

.images {
  max-width: 150px;
}
