.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  height: 672px;
  width: 1566px;
}

.box .rectangle {
  height: 672px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1566px;
}

/* App.css */

body, html, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./mainimage.png');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

.overlay-text {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.additional-text {
  font-size: 16px; 
  color: white;
  margin-top: 5px; 
}
main2 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./main2_image.png');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
  background-size: cover;
  background-position: center;
}

.image-container img {
  max-width: 100%;
  background-size: cover;
  background-position: center;
  height: auto;
}

.sections-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 60px; 
}

footer {
  height: 60px; /* Adjust this value as per your footer's height */
}
